@use "abstracts/index" as *;

.partier {

    @mixin hover {
        opacity: 1;
        visibility: visible;
        max-height: max-content;
        padding: $gap-4;
        transition: visibility 0s ease, opacity .3s ease;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: $gap-2;
        flex-wrap: wrap;
        isolation: isolate;
    }

    &__item {
        background-color: var(--clr-secondary);
        padding: $gap-4 $gap-3;
        border-radius: 20px;
        position: relative;

        &:focus-within,
        &:hover {
            &::after {
                $height: 10px;

                content: '';
                position: absolute;
                left: calc(50% - $height);
                bottom: -#{$height};

                width: 0px;
                height: 0px;

                border-left: $height solid transparent;
                border-right: $height solid transparent;
                border-bottom: $height solid var(--clr-secondary);
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 100px;
                width: 100%;
            }

            & .partier__content {
                @include hover;
            }

            & .partier__logo img {
                width: 100px;
                max-height: 100%;
            }
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        aspect-ratio: 1/1;
        margin: 0;

        img {
            margin: 0;
            width: 90px;
            max-height: 90px;
            border-radius: 10px;
            pointer-events: none;
            transition: max-height .25s ease-in, width .25s ease-in;
        }
    }

    &__content {
        background-color: var(--clr-secondary);
        position: absolute;
        z-index: 9;
        top: calc(100% + 10px);
        left: 0px;
        width: 25em;
        margin: 0;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0s ease, padding 0.5s ease;
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $fs-500;
        font-weight: 500;
        margin: 0;

        p {
            margin: 0;
        }
    }

    &__description {
        display: flex;
        justify-content: center;
        font-size: $fs-200;
        margin-block-end: $gap-2;
    }

    &__vote {
        $fs-hover: calc($fs-300 * 1.1);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: calc($fs-hover * 2.5);
        height: 100%;

        .voteBtn {
            display: flex;
            background-color: var(--clr-primary);
            color: $clr-white;
            margin: 0;
            padding: $gap-2;
            font-size: $fs-300;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            transition: font-size 0.3s ease;

            &:hover {
                font-size: $fs-hover;
                transition: font-size 0.3s ease;
            }
        }

        .voted {
            cursor: not-allowed;

            &:hover {
                opacity: .6;
            }
        }
    }
}


// ======<   Modal Voteform   >======
.modal #voteForm {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: max-content;
    overflow: auto;
    margin: 0;

    &[data-visible="false"] {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }

    input,
    select {
        background: var(--clr-primary);
        color: $clr-white;

        margin-block-end: $gap-3;
        padding: $gap-1 $gap-2;
        border-radius: 10px;
        border: none;

        min-width: 40ch;
        width: 100%;

        font-size: $fs-200;
        cursor: pointer;

        option {
            border-radius: 10px;
            font-size: calc($fs-200 / 1.2);
            color: $clr-white;
        }
    }

    .votingInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-end: $gap-3;
        height: 100%;
        width: 100%;
        cursor: pointer;

        .partiName {
            font-size: $fs-500;
            font-weight: 500;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--clr-accent);
                border-radius: 10px;
                scale: 0 1;
                transition: scale .25s linear;
                transform-origin: right;
            }
        }

        .partiLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110px;

            img {
                height: 100px;
                margin: 0;
                border-radius: 10px;
                transition: height .25s ease;

            }
        }

        &:hover {
            .partiName::after {
                scale: 1;
                transform-origin: left;
            }

            .partiLogo img {
                height: 110px;
            }
        }
    }

    .personalInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        label {
            align-self: flex-start;
        }

        .selectFylker {
            width: 100%;
        }

        .remains {
            display: none;
            flex-direction: column;
            width: 100%;

            &.ready {
                display: flex;
            }
        }

        .inputField {
            position: relative;
            margin: 0;
        }

        .validBox {
            @include hidden;

            background-color: $clr-destructive;
            padding: calc($gap-1 / 2) calc($gap-2 / 2);
            border-radius: 10px;
            margin: 0;

            position: absolute;
            top: 48px;
            left: 0;
            right: 0;
            z-index: 10;

            &.invalid {
                @include visible;
            }
        }

        span {
            font-size: 1rem;
            max-width: 80%;
            margin: 0;
        }

        span::after {
            $height: 10px;

            content: '';
            position: absolute;
            left: calc(10% - $height);
            top: -#{$height};

            width: 0px;
            height: 0px;
            border-left: $height solid transparent;
            border-right: $height solid transparent;
            border-bottom: $height solid $clr-destructive;
        }
    }

    // Buttons
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-block-start: $gap-1;
        gap: $gap-2;
        width: 100%;

        .cancel,
        .submit {
            border-radius: 10px;
            padding: $gap-1 $gap-2;
            height: 50px;

            span {
                font-size: calc($fs-400 / 1.15);
                color: $clr-white;
                margin: 0;
                transition: color .3s ease;
                
                &:hover {
                    color: #b3b3b3;
                }
            }
        }

        .cancel {
            background-color: $clr-destructive;
        }

        .submit {
            background-color: var(--clr-primary);
        }

    }

}


// ======<   Modal Voted   >======
.modal #voted {
    background-color: red;

    &[data-visible="false"] {
        display: none;
    }
}