@mixin hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
}

@mixin visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease, visibility .5s ease;
}