@use "abstracts/index" as *;

.barChart {
    .controls {
        display: flex;
        gap: $gap-1;
        background-color: var(--clr-primary);
        border-radius: 9em;
        padding: .3em;

        .button {
            background-color: transparent;
            height: 100%;
            margin: 0;
            padding: .4em .7em;
            border-radius: 9em;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transition: translate 0.3s ease;

            &:hover {
                translate: 0 -2px;
            }

            &.selected, &:hover {
                background-color: var(--clr-background);
            }
        }

        .custom_select {
            margin-inline-start: $gap-2;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 $gap-5;
    }

    .item {
        $_gap: 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap-2;
        margin: $_gap 0;
        height: 2em;
        position: relative;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-block: $_gap;
            height: 1px;
            border-radius: 10px;
            background-color: $clr-seperator;
        }
    }

    .bar {
        background-color: var(--clr-primary);
        border-radius: 10px;
        padding: 10px;
        height: 100%;
        margin: 0;

        transition: width 1s ease;
    }

    .value {
        display: flex;
        align-items: center;

        height: 100%;
        min-width: 5ch;

        margin: 0;
        font-size: $fs-200;
        font-weight: 700;
    }

    .party {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        width: 50px;
        margin: 0;

        img {
            margin: 0;
            max-width: 40px;
            max-height: 40px;
            border-radius: 5px;
        }
    }
}


.pieChart {

    .pie {
        border-radius: 9in;
        aspect-ratio: 1;
        width: 250px;
        background: var(--clr-primary);
    }
}