@use "abstracts/index" as *;

.barChart {
    .controls {
        display: flex;
        gap: $gap-1;
        background-color: var(--clr-primary);
        border-radius: 9em;
        padding: .3em;

        select, .button {
            background-color: transparent;
            height: 100%;
            margin: 0;
            padding: .4em .7em;
            border-radius: 9em;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transition: translate 0.3s ease;

            &:hover {
                translate: 0 -2px;
            }

            &.selected, &:hover {
                background-color: $clr-black-40;
            }
        }

        //.custom-select,
        select {
            background-color: var(--clr-primary);
            flex-grow: 1;
            margin-left: $gap-2;

            option {
                background-color: var(--clr-primary);
                font-size: .95rem;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: $gap-5;
        width: 100%;
    }

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap-2;
        height: 1.8em;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-top: 10px;
            height: 1px;
            border-radius: 10px;
            background-color: $clr-seperator;
        }
    }

    .bar {
        background-color: var(--clr-primary);
        border-radius: 10px;
        padding: 10px;
        height: 100%;
        //width: 1px !important;
        margin: 0;

        transition: width 1s ease;
    }

    .party {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        width: 50px;
        margin: 0;

        img {
            margin: 0;
            max-width: 40px;
            max-height: 40px;
            border-radius: 5px;
        }
    }

    .value {
        margin: 0;
        font-weight: 700;
    }
}


//* {
//    outline: 1px solid #ff0000a1;
//}


.custom-select {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 0 $gap-3;
    margin: 0 0 0 $gap-2;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    select {
        display: none;
    }

    .select-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        background-color: var(--clr-primary);

        &:after {
            content: "";
            display: flex;
            translate: 0 3px;
            border: 6px solid;
            border-color: var(--clr-text) transparent transparent transparent;
            transition: rotate .3s ease, translate .3s ease;
        }

        &.select-arrow-active:after {
            rotate: 180deg;
            translate: 0 -3px;
        }
    }

    .select-items div, .select-selected {
        cursor: pointer;
        user-select: none;
    }

    .select-items {
        @include visible;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 99;
        overflow: auto;
        max-height: 60vh;
        position: absolute;
        border-radius: inherit;
        margin-block-start: 3px;
        background-color: var(--clr-primary);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        div {
            margin: 0;
            padding: .5em 1em;
        }
    }

    .select-hide {
        @include hidden();
    }

    .select-items div:hover, .same-as-selected {
        background-color: $clr-black-30;
    }
}
