@use "abstracts/index" as *;

.navbar {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;

  height: 50px;
  padding: 0 1.2rem;
  // background: var(--clr-background);
  background-color: var(--clr-secondary);
  border-bottom: 1px solid $clr-seperator;
  box-shadow: 0 0 7px 1px $clr-white-20;

  position: sticky;
  top: 0;
  isolation: isolate;
  z-index: 9;

  button span {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .underline span::after,
  button:hover span::after {
    content: "";
    position: absolute;
    bottom: -0.07em;

    width: 103%;
    height: 2px;

    background: var(--clr-accent);
    border-radius: 10px;
  }

  // Skip to main content link
  .skip_to_main {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-background);
    border-radius: 20px;
    border: 1px solid $clr-white;
    font-size: $fs-300;

    height: 50px;
    padding: 0 1em;

    position: absolute;
    left: 0;
    z-index: 9;

    transform: translateX(-100%);
    transition: transform 300ms ease-in;

    &:focus {
      transform: translateX(0%);
      outline: none;
    }
  }
}


/* **************************************** */
/* *             Navbar Links             * */
/* **************************************** */

.navbar__links {
  display: flex;
  align-items: center;
  margin: 0;
  overflow: auto hidden;

  ul {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    margin: 0;
    padding: 0;

    list-style: none;
    white-space: nowrap;

    font-size: $fs-300;
    font-weight: 600;
  }

  a {
    display: flex;
    align-items: center;

    height: 50px;
    padding: 0 0.4em;
    position: relative;

    border-radius: 10px;
    color: var(--clr-text);
    text-decoration: none;

    &::after {
      content: "";
      height: 3px;
      scale: 0 1;

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      background: var(--clr-accent);
      border-radius: 10px;
      transition: scale 300ms ease;
    }

    &.active::after {
      scale: 1;
    }
  }
}


/* ****************************************** */
/* *             Navbar buttons             * */
/* ****************************************** */

.navbar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  button {
    height: 2em;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }
  }

  svg {
    height: 100%;
    pointer-events: none;
  }
}