<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/assets/css">
		<include path="~/assets/css/style.css" />
		<include path="~/assets/css/themes.css" />
		<include path="~/assets/css/home.css" />
		<include path="~/assets/css/navbar.css" />
		<include path="~/assets/css/footer.css" />
	</styleBundle>
</bundles>