<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/css/style.css" />
	<include path="~/Content/css/themes.css" />
	<include path="~/Content/css/home.css" />
	<include path="~/Content/css/navbar.css" />
	<include path="~/Content/css/footer.css" />
  </styleBundle>
</bundles>