@mixin hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0 !important; // please don't look at this
    transition: height .15s ease, opacity .3s ease, visibility .3s ease;
}

@mixin visible {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: height .15s ease, opacity .3s ease, visibility 0s ease;
}