@mixin hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease, visibility 0s ease;
}