$themes: (
        light: (
                text: #080f16,
                background: #e9f1f7,
                primary: #8abff5,
                secondary: #dde9f3,
                accent: #663c9a,
        ),
        dark: (
                text: #e9f0f7,
                background: #081016,
                primary: #0a4075,
                secondary: #0c1822,
                accent: #8f65c3,
        ),
);

:root {
  @each $name, $values in $themes {
    &[data-theme="#{$name}"] {
      @each $a, $b in $values {
        --clr-#{$a}: #{$b};
      }
    }
  }
}

$clr-destructive: #c52121;
$clr-seperator: #74747480;

$clr-black:    rgba(0, 0, 0, 1.0);
$clr-black-90: rgba(0, 0, 0, 0.9);
$clr-black-80: rgba(0, 0, 0, 0.8);
$clr-black-70: rgba(0, 0, 0, 0.7);
$clr-black-60: rgba(0, 0, 0, 0.6);
$clr-black-50: rgba(0, 0, 0, 0.5);
$clr-black-40: rgba(0, 0, 0, 0.4);
$clr-black-30: rgba(0, 0, 0, 0.3);
$clr-black-20: rgba(0, 0, 0, 0.1);
$clr-black-10: rgba(0, 0, 0, 0.03);

$clr-white:    rgba(255, 255, 255, 1.0);
$clr-white-90: rgba(255, 255, 255, 0.9);
$clr-white-80: rgba(255, 255, 255, 0.8);
$clr-white-70: rgba(255, 255, 255, 0.7);
$clr-white-60: rgba(255, 255, 255, 0.6);
$clr-white-50: rgba(255, 255, 255, 0.5);
$clr-white-40: rgba(255, 255, 255, 0.4);
$clr-white-30: rgba(255, 255, 255, 0.3);
$clr-white-20: rgba(255, 255, 255, 0.1);
$clr-white-10: rgba(255, 255, 255, 0.03);

.clr-destructive {
    background: $clr-destructive;
    color: $clr-white;
}