//$themes: (
//        light: (
//                text: #080f16,
//                background: #e9f1f7,
//                primary: #8abff5,
//                secondary: #dde9f3,
//                accent: #663c9a,
//        ),
//        dark: (
//                text: #e9f0f7,
//                background: #081016,
//                primary: #0a4075,
//                secondary: #0c1822,
//                accent: #8f65c3,
//        ),
//);


// Opacity
$themes: (
        light: (
                text: hsl(195 40% 4%),
                text95: hsl(195 40% 4% / 95%),
                text90: hsl(195 40% 4% / 90%),
                text85: hsl(195 40% 4% / 85%),
                text80: hsl(195 40% 4% / 80%),
                text75: hsl(195 40% 4% / 75%),
                text70: hsl(195 40% 4% / 70%),
                text65: hsl(195 40% 4% / 65%),
                text60: hsl(195 40% 4% / 60%),
                text55: hsl(195 40% 4% / 55%),
                text50: hsl(195 40% 4% / 50%),
                text45: hsl(195 40% 4% / 45%),
                text40: hsl(195 40% 4% / 40%),
                text35: hsl(195 40% 4% / 35%),
                text30: hsl(195 40% 4% / 30%),
                text25: hsl(195 40% 4% / 25%),
                text20: hsl(195 40% 4% / 20%),
                text15: hsl(195 40% 4% / 15%),
                text10: hsl(195 40% 4% / 10%),
                text5: hsl(195 40% 4% / 5%),
                background: hsl(200 60% 99%),
                background95: hsl(200 60% 99% / 95%),
                background90: hsl(200 60% 99% / 90%),
                background85: hsl(200 60% 99% / 85%),
                background80: hsl(200 60% 99% / 80%),
                background75: hsl(200 60% 99% / 75%),
                background70: hsl(200 60% 99% / 70%),
                background65: hsl(200 60% 99% / 65%),
                background60: hsl(200 60% 99% / 60%),
                background55: hsl(200 60% 99% / 55%),
                background50: hsl(200 60% 99% / 50%),
                background45: hsl(200 60% 99% / 45%),
                background40: hsl(200 60% 99% / 40%),
                background35: hsl(200 60% 99% / 35%),
                background30: hsl(200 60% 99% / 30%),
                background25: hsl(200 60% 99% / 25%),
                background20: hsl(200 60% 99% / 20%),
                background15: hsl(200 60% 99% / 15%),
                background10: hsl(200 60% 99% / 10%),
                background5: hsl(200 60% 99% / 5%),
                primary: hsl(192 68% 50%),
                primary95: hsl(192 68% 50% / 95%),
                primary90: hsl(192 68% 50% / 90%),
                primary85: hsl(192 68% 50% / 85%),
                primary80: hsl(192 68% 50% / 80%),
                primary75: hsl(192 68% 50% / 75%),
                primary70: hsl(192 68% 50% / 70%),
                primary65: hsl(192 68% 50% / 65%),
                primary60: hsl(192 68% 50% / 60%),
                primary55: hsl(192 68% 50% / 55%),
                primary50: hsl(192 68% 50% / 50%),
                primary45: hsl(192 68% 50% / 45%),
                primary40: hsl(192 68% 50% / 40%),
                primary35: hsl(192 68% 50% / 35%),
                primary30: hsl(192 68% 50% / 30%),
                primary25: hsl(192 68% 50% / 25%),
                primary20: hsl(192 68% 50% / 20%),
                primary15: hsl(192 68% 50% / 15%),
                primary10: hsl(192 68% 50% / 10%),
                primary5: hsl(192 68% 50% / 5%),
                secondary: hsl(193 80% 72%),
                secondary95: hsl(193 80% 72% / 95%),
                secondary90: hsl(193 80% 72% / 90%),
                secondary85: hsl(193 80% 72% / 85%),
                secondary80: hsl(193 80% 72% / 80%),
                secondary75: hsl(193 80% 72% / 75%),
                secondary70: hsl(193 80% 72% / 70%),
                secondary65: hsl(193 80% 72% / 65%),
                secondary60: hsl(193 80% 72% / 60%),
                secondary55: hsl(193 80% 72% / 55%),
                secondary50: hsl(193 80% 72% / 50%),
                secondary45: hsl(193 80% 72% / 45%),
                secondary40: hsl(193 80% 72% / 40%),
                secondary35: hsl(193 80% 72% / 35%),
                secondary30: hsl(193 80% 72% / 30%),
                secondary25: hsl(193 80% 72% / 25%),
                secondary20: hsl(193 80% 72% / 20%),
                secondary15: hsl(193 80% 72% / 15%),
                secondary10: hsl(193 80% 72% / 10%),
                secondary5: hsl(193 80% 72% / 5%),
                accent: hsl(193 93% 62%),
                accent95: hsl(193 93% 62% / 95%),
                accent90: hsl(193 93% 62% / 90%),
                accent85: hsl(193 93% 62% / 85%),
                accent80: hsl(193 93% 62% / 80%),
                accent75: hsl(193 93% 62% / 75%),
                accent70: hsl(193 93% 62% / 70%),
                accent65: hsl(193 93% 62% / 65%),
                accent60: hsl(193 93% 62% / 60%),
                accent55: hsl(193 93% 62% / 55%),
                accent50: hsl(193 93% 62% / 50%),
                accent45: hsl(193 93% 62% / 45%),
                accent40: hsl(193 93% 62% / 40%),
                accent35: hsl(193 93% 62% / 35%),
                accent30: hsl(193 93% 62% / 30%),
                accent25: hsl(193 93% 62% / 25%),
                accent20: hsl(193 93% 62% / 20%),
                accent15: hsl(193 93% 62% / 15%),
                accent10: hsl(193 93% 62% / 10%),
                accent5: hsl(193 93% 62% / 5%),
        ),
        dark: (
                text: hsl(210 47% 94%),
                text95: hsl(210 47% 94% / 95%),
                text90: hsl(210 47% 94% / 90%),
                text85: hsl(210 47% 94% / 85%),
                text80: hsl(210 47% 94% / 80%),
                text75: hsl(210 47% 94% / 75%),
                text70: hsl(210 47% 94% / 70%),
                text65: hsl(210 47% 94% / 65%),
                text60: hsl(210 47% 94% / 60%),
                text55: hsl(210 47% 94% / 55%),
                text50: hsl(210 47% 94% / 50%),
                text45: hsl(210 47% 94% / 45%),
                text40: hsl(210 47% 94% / 40%),
                text35: hsl(210 47% 94% / 35%),
                text30: hsl(210 47% 94% / 30%),
                text25: hsl(210 47% 94% / 25%),
                text20: hsl(210 47% 94% / 20%),
                text15: hsl(210 47% 94% / 15%),
                text10: hsl(210 47% 94% / 10%),
                text5: hsl(210 47% 94% / 5%),
                background: hsl(206 47% 6%),
                background95: hsl(206 47% 6% / 95%),
                background90: hsl(206 47% 6% / 90%),
                background85: hsl(206 47% 6% / 85%),
                background80: hsl(206 47% 6% / 80%),
                background75: hsl(206 47% 6% / 75%),
                background70: hsl(206 47% 6% / 70%),
                background65: hsl(206 47% 6% / 65%),
                background60: hsl(206 47% 6% / 60%),
                background55: hsl(206 47% 6% / 55%),
                background50: hsl(206 47% 6% / 50%),
                background45: hsl(206 47% 6% / 45%),
                background40: hsl(206 47% 6% / 40%),
                background35: hsl(206 47% 6% / 35%),
                background30: hsl(206 47% 6% / 30%),
                background25: hsl(206 47% 6% / 25%),
                background20: hsl(206 47% 6% / 20%),
                background15: hsl(206 47% 6% / 15%),
                background10: hsl(206 47% 6% / 10%),
                background5: hsl(206 47% 6% / 5%),
                primary: hsl(210 84% 25%),
                primary95: hsl(210 84% 25% / 95%),
                primary90: hsl(210 84% 25% / 90%),
                primary85: hsl(210 84% 25% / 85%),
                primary80: hsl(210 84% 25% / 80%),
                primary75: hsl(210 84% 25% / 75%),
                primary70: hsl(210 84% 25% / 70%),
                primary65: hsl(210 84% 25% / 65%),
                primary60: hsl(210 84% 25% / 60%),
                primary55: hsl(210 84% 25% / 55%),
                primary50: hsl(210 84% 25% / 50%),
                primary45: hsl(210 84% 25% / 45%),
                primary40: hsl(210 84% 25% / 40%),
                primary35: hsl(210 84% 25% / 35%),
                primary30: hsl(210 84% 25% / 30%),
                primary25: hsl(210 84% 25% / 25%),
                primary20: hsl(210 84% 25% / 20%),
                primary15: hsl(210 84% 25% / 15%),
                primary10: hsl(210 84% 25% / 10%),
                primary5: hsl(210 84% 25% / 5%),
                secondary: hsl(207 48% 9%),
                secondary95: hsl(207 48% 9% / 95%),
                secondary90: hsl(207 48% 9% / 90%),
                secondary85: hsl(207 48% 9% / 85%),
                secondary80: hsl(207 48% 9% / 80%),
                secondary75: hsl(207 48% 9% / 75%),
                secondary70: hsl(207 48% 9% / 70%),
                secondary65: hsl(207 48% 9% / 65%),
                secondary60: hsl(207 48% 9% / 60%),
                secondary55: hsl(207 48% 9% / 55%),
                secondary50: hsl(207 48% 9% / 50%),
                secondary45: hsl(207 48% 9% / 45%),
                secondary40: hsl(207 48% 9% / 40%),
                secondary35: hsl(207 48% 9% / 35%),
                secondary30: hsl(207 48% 9% / 30%),
                secondary25: hsl(207 48% 9% / 25%),
                secondary20: hsl(207 48% 9% / 20%),
                secondary15: hsl(207 48% 9% / 15%),
                secondary10: hsl(207 48% 9% / 10%),
                secondary5: hsl(207 48% 9% / 5%),
                accent: hsl(287 66% 36%),
                accent95: hsl(287 66% 36% / 95%),
                accent90: hsl(287 66% 36% / 90%),
                accent85: hsl(287 66% 36% / 85%),
                accent80: hsl(287 66% 36% / 80%),
                accent75: hsl(287 66% 36% / 75%),
                accent70: hsl(287 66% 36% / 70%),
                accent65: hsl(287 66% 36% / 65%),
                accent60: hsl(287 66% 36% / 60%),
                accent55: hsl(287 66% 36% / 55%),
                accent50: hsl(287 66% 36% / 50%),
                accent45: hsl(287 66% 36% / 45%),
                accent40: hsl(287 66% 36% / 40%),
                accent35: hsl(287 66% 36% / 35%),
                accent30: hsl(287 66% 36% / 30%),
                accent25: hsl(287 66% 36% / 25%),
                accent20: hsl(287 66% 36% / 20%),
                accent15: hsl(287 66% 36% / 15%),
                accent10: hsl(287 66% 36% / 10%),
                accent5: hsl(287 66% 36% / 5%),
        ),
);


//$themes: (
//        light: (
//                text95: hsl(192, 38%, 95%),
//                text90: hsl(194, 41%, 90%),
//                text85: hsl(195, 40%, 85%),
//                text80: hsl(195, 39%, 80%),
//                text75: hsl(195, 40%, 75%),
//                text70: hsl(195, 40%, 70%),
//                text65: hsl(194, 40%, 65%),
//                text60: hsl(195, 40%, 60%),
//                text55: hsl(195, 40%, 55%),
//                text50: hsl(195, 40%, 50%),
//                text45: hsl(195, 40%, 45%),
//                text40: hsl(195, 40%, 40%),
//                text35: hsl(195, 40%, 35%),
//                text30: hsl(195, 40%, 30%),
//                text25: hsl(194, 40%, 25%),
//                text20: hsl(195, 39%, 20%),
//                text15: hsl(195, 40%, 15%),
//                text10: hsl(194, 41%, 10%),
//                text5: hsl(198, 38%, 5%),
//                text: hsl(195, 40%, 4%),
//                background: hsl(200, 60%, 99%),
//                background95: hsl(200, 60%, 95%),
//                background90: hsl(199, 61%, 90%),
//                background85: hsl(201, 61%, 85%),
//                background80: hsl(200, 61%, 80%),
//                background75: hsl(200, 61%, 75%),
//                background70: hsl(200, 59%, 70%),
//                background65: hsl(200, 60%, 65%),
//                background60: hsl(200, 60%, 60%),
//                background55: hsl(200, 60%, 55%),
//                background50: hsl(200, 60%, 50%),
//                background45: hsl(200, 60%, 45%),
//                background40: hsl(200, 60%, 40%),
//                background35: hsl(200, 60%, 35%),
//                background30: hsl(200, 59%, 30%),
//                background25: hsl(200, 61%, 25%),
//                background20: hsl(200, 61%, 20%),
//                background15: hsl(200, 61%, 15%),
//                background10: hsl(199, 61%, 10%),
//                background5: hsl(200, 60%, 5%),
//                primary95: hsl(194, 68%, 95%),
//                primary90: hsl(192, 69%, 90%),
//                primary85: hsl(193, 68%, 85%),
//                primary80: hsl(192, 69%, 80%),
//                primary75: hsl(192, 69%, 75%),
//                primary70: hsl(192, 69%, 70%),
//                primary65: hsl(192, 68%, 65%),
//                primary60: hsl(192, 68%, 60%),
//                primary55: hsl(192, 68%, 55%),
//                primary50: hsl(192, 68%, 50%),
//                primary45: hsl(192, 68%, 45%),
//                primary40: hsl(192, 68%, 40%),
//                primary35: hsl(192, 68%, 35%),
//                primary30: hsl(192, 69%, 30%),
//                primary25: hsl(192, 69%, 25%),
//                primary20: hsl(192, 69%, 20%),
//                primary15: hsl(192, 68%, 15%),
//                primary10: hsl(192, 69%, 10%),
//                primary5: hsl(191, 68%, 5%),
//                primary: hsl(192, 68%, 50%),
//                secondary95: hsl(192, 77%, 95%),
//                secondary90: hsl(193, 80%, 90%),
//                secondary85: hsl(193, 79%, 85%),
//                secondary80: hsl(193, 80%, 80%),
//                secondary75: hsl(193, 80%, 75%),
//                secondary70: hsl(193, 80%, 70%),
//                secondary65: hsl(193, 80%, 65%),
//                secondary60: hsl(193, 80%, 60%),
//                secondary55: hsl(193, 80%, 55%),
//                secondary50: hsl(193, 80%, 50%),
//                secondary45: hsl(193, 80%, 45%),
//                secondary40: hsl(193, 80%, 40%),
//                secondary35: hsl(193, 80%, 35%),
//                secondary30: hsl(193, 80%, 30%),
//                secondary25: hsl(193, 80%, 25%),
//                secondary20: hsl(193, 80%, 20%),
//                secondary15: hsl(193, 79%, 15%),
//                secondary10: hsl(193, 80%, 10%),
//                secondary5: hsl(192, 77%, 5%),
//                secondary: hsl(193, 80%, 72%),
//                accent95: hsl(193, 92%, 95%),
//                accent90: hsl(193, 92%, 90%),
//                accent85: hsl(193, 92%, 85%),
//                accent80: hsl(193, 92%, 80%),
//                accent75: hsl(193, 94%, 75%),
//                accent70: hsl(193, 93%, 70%),
//                accent65: hsl(193, 93%, 65%),
//                accent60: hsl(193, 93%, 60%),
//                accent55: hsl(193, 93%, 55%),
//                accent50: hsl(193, 93%, 50%),
//                accent45: hsl(193, 93%, 45%),
//                accent40: hsl(193, 93%, 40%),
//                accent35: hsl(193, 93%, 35%),
//                accent30: hsl(193, 93%, 30%),
//                accent25: hsl(193, 94%, 25%),
//                accent20: hsl(193, 92%, 20%),
//                accent15: hsl(194, 92%, 15%),
//                accent10: hsl(193, 92%, 10%),
//                accent5: hsl(195, 92%, 5%),
//                accent: hsl(193, 93%, 62%),
//        ),
//        dark: (
//                text: hsl(210, 47%, 94%),
//                text95: hsl(210, 46%, 95%),
//                text90: hsl(209, 45%, 90%),
//                text85: hsl(210, 47%, 85%),
//                text80: hsl(210, 47%, 80%),
//                text75: hsl(210, 47%, 75%),
//                text70: hsl(210, 46%, 70%),
//                text65: hsl(210, 47%, 65%),
//                text60: hsl(210, 47%, 60%),
//                text55: hsl(210, 47%, 55%),
//                text50: hsl(210, 47%, 50%),
//                text45: hsl(210, 47%, 45%),
//                text40: hsl(210, 47%, 40%),
//                text35: hsl(210, 47%, 35%),
//                text30: hsl(210, 46%, 30%),
//                text25: hsl(210, 47%, 25%),
//                text20: hsl(210, 47%, 20%),
//                text15: hsl(210, 47%, 15%),
//                text10: hsl(211, 45%, 10%),
//                text5: hsl(210, 46%, 5%),
//                background95: hsl(205, 46%, 95%),
//                background90: hsl(206, 45%, 90%),
//                background85: hsl(207, 47%, 85%),
//                background80: hsl(206, 47%, 80%),
//                background75: hsl(206, 47%, 75%),
//                background70: hsl(206, 46%, 70%),
//                background65: hsl(206, 47%, 65%),
//                background60: hsl(206, 47%, 60%),
//                background55: hsl(206, 47%, 55%),
//                background50: hsl(206, 47%, 50%),
//                background45: hsl(206, 47%, 45%),
//                background40: hsl(206, 47%, 40%),
//                background35: hsl(206, 47%, 35%),
//                background30: hsl(206, 46%, 30%),
//                background25: hsl(206, 47%, 25%),
//                background20: hsl(206, 47%, 20%),
//                background15: hsl(205, 47%, 15%),
//                background10: hsl(206, 45%, 10%),
//                background5: hsl(205, 46%, 5%),
//                background: hsl(206, 47%, 6%),
//                primary95: hsl(211, 84%, 95%),
//                primary90: hsl(211, 84%, 90%),
//                primary85: hsl(210, 84%, 85%),
//                primary80: hsl(210, 84%, 80%),
//                primary75: hsl(210, 84%, 75%),
//                primary70: hsl(210, 84%, 70%),
//                primary65: hsl(210, 84%, 65%),
//                primary60: hsl(210, 84%, 60%),
//                primary55: hsl(210, 84%, 55%),
//                primary50: hsl(210, 84%, 50%),
//                primary45: hsl(210, 84%, 45%),
//                primary40: hsl(210, 84%, 40%),
//                primary35: hsl(210, 84%, 35%),
//                primary30: hsl(210, 84%, 30%),
//                primary25: hsl(210, 84%, 25%),
//                primary20: hsl(210, 84%, 20%),
//                primary15: hsl(210, 84%, 15%),
//                primary10: hsl(211, 84%, 10%),
//                primary5: hsl(209, 84%, 5%),
//                primary: hsl(210, 84%, 25%),
//                secondary95: hsl(205, 46%, 95%),
//                secondary90: hsl(206, 49%, 90%),
//                secondary85: hsl(206, 48%, 85%),
//                secondary80: hsl(208, 47%, 80%),
//                secondary75: hsl(208, 48%, 75%),
//                secondary70: hsl(207, 48%, 70%),
//                secondary65: hsl(207, 48%, 65%),
//                secondary60: hsl(207, 48%, 60%),
//                secondary55: hsl(207, 48%, 55%),
//                secondary50: hsl(207, 48%, 50%),
//                secondary45: hsl(207, 48%, 45%),
//                secondary40: hsl(207, 48%, 40%),
//                secondary35: hsl(207, 48%, 35%),
//                secondary30: hsl(207, 48%, 30%),
//                secondary25: hsl(207, 48%, 25%),
//                secondary20: hsl(207, 47%, 20%),
//                secondary15: hsl(208, 48%, 15%),
//                secondary10: hsl(206, 49%, 10%),
//                secondary5: hsl(210, 46%, 5%),
//                secondary: hsl(207, 48%, 9%),
//                accent95: hsl(288, 60%, 95%),
//                accent90: hsl(290, 57%, 90%),
//                accent85: hsl(289, 58%, 85%),
//                accent80: hsl(290, 57%, 80%),
//                accent75: hsl(289, 57%, 75%),
//                accent70: hsl(290, 57%, 70%),
//                accent65: hsl(290, 57%, 65%),
//                accent60: hsl(290, 57%, 60%),
//                accent55: hsl(290, 57%, 55%),
//                accent50: hsl(290, 57%, 50%),
//                accent45: hsl(290, 57%, 45%),
//                accent40: hsl(290, 57%, 40%),
//                accent35: hsl(290, 57%, 35%),
//                accent30: hsl(290, 57%, 30%),
//                accent25: hsl(290, 57%, 25%),
//                accent20: hsl(290, 57%, 20%),
//                accent15: hsl(290, 58%, 15%),
//                accent10: hsl(290, 57%, 10%),
//                accent5: hsl(292, 60%, 5%),
//                accent: hsl(290, 57%, 34%),
//        ),
//);


//$themes: (
//        light: (
//                text: #060c0e,
//                background: #fbfdfe,
//                primary: #2bb3d6,
//                secondary: #7ed9f1,
//                accent: #42d2f8,
//        ),
//        dark: (
//                text: #e9f0f7,
//                background: #081016,
//                primary: #0a4075,
//                secondary: #0c1822,
//                accent: #762587,
//        ),
//);


:root {
    @each $name, $values in $themes {
        &[data-theme="#{$name}"] {
            @each $a, $b in $values {
                --clr-#{$a}: #{$b};
            }
        }
    }
}

$clr-destructive: #c52121;
$clr-seperator: #74747480;

$clr-black: rgba(0, 0, 0, 1.0);
$clr-black-90: rgba(0, 0, 0, 0.9);
$clr-black-80: rgba(0, 0, 0, 0.8);
$clr-black-70: rgba(0, 0, 0, 0.7);
$clr-black-60: rgba(0, 0, 0, 0.6);
$clr-black-50: rgba(0, 0, 0, 0.5);
$clr-black-40: rgba(0, 0, 0, 0.4);
$clr-black-30: rgba(0, 0, 0, 0.3);
$clr-black-20: rgba(0, 0, 0, 0.1);
$clr-black-10: rgba(0, 0, 0, 0.03);

$clr-white: rgba(255, 255, 255, 1.0);
$clr-white-90: rgba(255, 255, 255, 0.9);
$clr-white-80: rgba(255, 255, 255, 0.8);
$clr-white-70: rgba(255, 255, 255, 0.7);
$clr-white-60: rgba(255, 255, 255, 0.6);
$clr-white-50: rgba(255, 255, 255, 0.5);
$clr-white-40: rgba(255, 255, 255, 0.4);
$clr-white-30: rgba(255, 255, 255, 0.3);
$clr-white-20: rgba(255, 255, 255, 0.1);
$clr-white-10: rgba(255, 255, 255, 0.03);

.clr-destructive {
    background: $clr-destructive;
    color: $clr-white;
}